body {
    background-color: #22223B;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: #fff;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    background-color: #4A4E69;
    height: 100vh;
    position:absolute;
    width: 50%;
    z-index: 0;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 62px;
    margin-bottom: 18px;
    margin-top: 35px;
    text-align: center;
    
}

img {
    width: inherit;
    height: inherit;
    display: none;  
    transition: 500ms;
}

.col {
    border: solid 1px #111;
    background-color: #0471A6;
    border-radius: 5px;
    height: 128px;
    margin: 20px; 
} 

.row {
    height: 164px;
}

.button-comenzar {
    align-self: center;
    padding: 8px;
}

.row>* {
    padding-left: 0px;
    padding-right: 0px;
}

p {
    text-align: center;
    font-family: inherit;
    font-size: 1.5rem;
}

#timer {
    text-align: center;
    margin-top: 20px; 
}

#timer p {
    display: inline;
}

.card-body {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
}

i {
    color: red;
    font-size: 4rem;
}

.card {
    display: none; 
}

.card-title {
    color: black;
    margin-top: 26px;
    margin-bottom: 18px;
}

.card-text {
    color: black;
    margin-bottom: 28px;
}

#btn-reset {
    width: 67%;
    margin-bottom: 17px;
}


